.main-section {
    padding: 2rem 4rem 2rem 2rem;
    display: grid;
    grid-template-columns: [start]2fr [middle]auto [end];
    background-color: rgb(245, 245, 245);
    gap: 2rem;
}

.projects-section {
    display: grid;
    grid-template-rows: max-content auto;
}

