/*----------   Main   ----------*/

main {
    display: grid;
    grid-template-columns: [start]300px [middle]1fr [end];
}

/*----------  Sidebar  ---------*/

.sidebar {
    display: grid;
}


/*----------    Main Section    ----------*/

.right-section{
    display: grid;
    grid-template-rows: [top]auto [middle]4fr [bottom];
}

/*----------  Header  ----------*/

header{
    display: grid;
}

header > section {
    grid-auto-flow: column;
}

header > section > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: [start]2fr [middle]minmax(300px, 1fr) [end];
}


/*----------  Main Section ----------*/

.main-section{
    display: grid;
    grid-template-columns: [start]2fr [middle]1fr [end];
}

.projects-section {
    grid-column: start / middle;
}